// Flat and raised button standards
$dia-button-padding: 0 16px !default;
$dia-button-min-width: 64px !default;
$dia-button-margin: 0 !default;
$dia-button-line-height: 36px !default;
$dia-button-border-radius: 4px !default;

// Stroked button padding is 1px less horizontally than default/flat/raised
// button's padding.
$dia-stroked-button-line-height: $dia-button-line-height - 2;
$dia-stroked-button-padding: 0 15px;
$dia-stroked-button-border-width: 1px;

// Icon Button standards
$dia-icon-button-size: 40px !default;
$dia-icon-button-border-radius: 50% !default;
$dia-icon-button-line-height: 24px !default;

// Applies base styles to all button types.
@mixin dia-button-base {
	box-sizing: border-box;
	position: relative;

	// Reset browser <button> styles.
	cursor: pointer;
	outline: none;
	border: none;

	// Make anchors render like buttons.
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	vertical-align: baseline;
	text-align: center;

	// Sizing.
	margin: $dia-button-margin;
	min-width: $dia-button-min-width;
	line-height: $dia-button-line-height;
	padding: $dia-button-padding;
	border-radius: $dia-button-border-radius;

	// Explicitly set the default overflow to `visible`. It is already set
	// on most browsers except on IE11 where it defaults to `hidden`.
	overflow: visible;

	&.dia-button-disabled {
		cursor: default;
	}
}

// Applies styles to buttons with backgrounds: raised, fab, and mini-fab
@mixin dia-raised-button {
	@include dia-button-base;

	background-color: red;

	// Force hardware acceleration.
	transform: translate3d(0, 0, 0);
}
